* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a6592;
  height: 100vh;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  max-width: 940px;
  font-size: 2.5em;
  margin: 10px 50px;
}

.main-div {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}
